<div class="container">
  <br />
  <div class="card">
    <div class="card-header">
      <strong>
        Oops!
      </strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        404 Error
      </h5>
      <p class="card-text">Sorry there, that page doesn't exist!</p>
      <br />
      <a href="/reminder" class="btn btn-primary" >Take me Home</a>
      <a href="mailto:jakob.maning@gmail.com" class="btn btn-secondary">Contact support</a>
    </div>
  </div>
</div>
